<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Connect</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <h2 class="fcText">Farm Connect</h2>
            <div class="search">
                <input type="text" name="search" id="search" placeholder="search">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
            </div>
            <div class="login">
                <a href="" id="explore">Explore<i class="fa-solid fa-caret-down"></i></a>
                <a href="/login" id="login">Login<i class="fa-solid fa-circle-user"></i></a>
                <a href="" id="cart">Cart<i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="content">
           
        </div>
        <div class="footer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur asperiores maiores neque! Delectus sequi natus beatae in, perferendis, eius at recusandae optio, commodi minus aut impedit explicabo. Consequatur, excepturi vitae!
        </div>
    </div>
</body>
</html>